<h1>UserPages#profile</h1>
<PRE>
<CENTER>
  <H1 color="#8B4513">○○さんのマイページ</H1>
</CENTER>
<TABLE border="1">
<TR>
  <TD>    </TD>
  <div class="example1">
     <%= image_tag 'sample_image' %>

     
  </div>
</TR>
<TR>
  <TD>    </TD><td>◎2</td>
</TR>
<TR>
  <TD>    </TD><td>■2</td>
</TR>
</TABLE>
</PRE>
<%= render 'layouts/footer' %>
