<h1>UserPages#menu</h1>

<br />
<style type="text/css">

table {
width: 94%;
height: 100px;
/*border: 2px #2b2b2b solid;*/
}
td {
/*width: 25%;
border: 2px #2b2b2b solid;*/
}

</style>

  <h2><center>質問</center></h2>
  <center>当てはまる項目を選択してください</center>
  <br />

<body background 'images/hero-image.png'>

<form method="get" action="/menu/menu/">
<p>
<table>
<tr>
<td>
  <center>
  <h3>料理<br /></h3>
  <%= radio_button 'radio', 'cook' ,"1", {:checked => true} %>肉料理<br />
  <%= radio_button 'radio', 'cook' ,"2" %>魚料理<br />
  <%= radio_button 'radio', 'cook' ,"3" %>何でもいい<br />
  <%= radio_button 'radio', 'cook' ,"4" %>選択肢にない<br />
  <br />

  <h3>時間<br /></h3>
  <%= radio_button 'radio', 'time' ,"1", {:checked => true} %>２０分以内<br />
  <%= radio_button 'radio', 'time' ,"2" %>１時間以内<br />
  <%= radio_button 'radio', 'time' ,"3" %>１時間以上<br />

  <br />

  <h3>デザート<br /></h3>
  <%= radio_button 'radio', 'dessert' ,"1", {:checked => true} %>いる<br />
  <%= radio_button 'radio', 'dessert' ,"2" %>いらない<br />
  <%= radio_button 'radio', 'dessert' ,"3" %>どっちでもいい<br />

  </center>

</td>

<td>
  <center>
  <h3>野菜料理<br /></h3>
　<%= radio_button 'radio', 'ｖegetables' ,"1", {:checked => true} %>多め<br />
　<%= radio_button 'radio', 'ｖegetables' ,"2" %>少な目<br />
　<%= radio_button 'radio', 'ｖegetables' ,"3" %>なし<br />

<br/><br />

<h3>体調<br /></h3>
　<%= radio_button 'radio', 'condition' ,"1", {:checked => true} %>良い<br />
　<%= radio_button 'radio', 'condition' ,"2" %>悪い<br />

</center>

</td>

<td>
  <center>
  <h3>種類<br /></h3>
　<%= radio_button 'radio', 'type' ,"1", {:checked => true} %>和食<br />
　<%= radio_button 'radio', 'type' ,"2" %>洋食<br />
　<%= radio_button 'radio', 'type' ,"3" %>中華<br />
　<%= radio_button 'radio', 'type' ,"4" %>その他<br />

<br />

<h3>予算<br /></h3>
　<%= radio_button 'radio', 'money' ,"1", {:checked => true} %>ある<br />
　<%= radio_button 'radio', 'money' ,"2" %>ない<br />

</center>
</td>

<td>
  <center>
  <h3>難易度<br /></h3>
　<%= radio_button 'radio', 'level' ,"1", {:checked => true} %>簡単な料理<br />
　<%= radio_button 'radio', 'level' ,"2" %>難しい料理<br />

<br /><br /><br />

<h3>人数<br /></h3>
　<%= radio_button 'radio', 'number' ,"1", {:checked => true} %>１人<br />
　<%= radio_button 'radio', 'number' ,"2" %>１人～４人<br />
　<%= radio_button 'radio', 'number' ,"3" %>４人以上<br />
</tr>
</center>

</table>

<br />

<center><input type="reset" value="リセット">
<input type="submit" value="選択したら押してください" /></center>

</p>
</form>

<br />
<br />

</body>

<%= render 'layouts/footer' %>
