
<!-- Footer
================================================== -->
<footer>
   <div class="row">
      <div class="six columns info">
         <div class="footer-logo">
            <a href="#">
               <%= image_tag 'footer-logo.png' %>
            </a>
         </div>
         <p>This is for us to display to think the menu.
           Your budget, time, and also for us thought the menu in consideration of your physical condition.
           Please to help when I suffer from today's menu.
         </p>
      </div>
      <div class="six columns right-cols">
         <div class="row">
            <div class="columns">
              <h3 class="address">外部リンク</h3>
               <p>
                 <ul>
               1600 Amphitheatre Parkway<br>
               Mountain View, CA<br>
               94043 US<br>
               <li><a href="http://cookpad.com/">cookpad</a></li>
               </p>
             </ul>
            </div>
            <div class="columns">
               <h3 class="social">外部サイト</h3>
               <ul>
                  <li><a href="https://www.facebook.com/FacebookJapan">Facebook</a></li>
                  <li><a href="https://twitter.com">Twitter</a></li>
                  <li><a href="https://plus.google.com/collections/featured">GooglePlus</a></li>
               </ul>
            </div>
            <div class="columns last">
               <h3 class="contact">お問い合わせ</h3>
               <ul>
                 <li><a href="tel:0822915050">082-291-5050</a></li>
                 <li><a href="mailto:inoue@hsc.ac.jp">inoue@hsc.ac.jp</a></li>
               </ul>
            </div>
         </div> <!-- Nested Row End -->
      </div>
      <p class="copyright">&copy; 2016 楽Laクック | Created by <a title="Styleshout" href="http://www.hsc.ac.jp/">Hiroshima Computer College</a></p>
      <div id="go-top">
         <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
      </div>
   </div> <!-- Row End -->
</footer> <!-- Footer End-->
