<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="ja"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>今夜の献立に悩んだら／質問に答えるだけ！ 楽Laクック</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<%= favicon_link_tag 'favicon.png' %>
  </head>
<body>


  <!-- Header
  ================================================== -->
  <header>

     <div class="logo">
        <a href="http://www.rakulacook.com/"><%= image_tag 'logo.png' %></a>
     </div>

     <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
       <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

        <ul id="nav" class="nav">
          <!-- 非ログインユーザ-->
          <li><a href="http://www.rakulacook.com/user/login">プレミアムサービス</a></li>
           <li><a href="http://www.rakulacook.com/user/regist">無料登録</a></li>
           <li><a href="http://www.rakulacook.com/user/login">ログイン</a></li>
         <!-- ログインユーザ
           <li>広コン太郎さん<a  href="#mymenu">（マイメニュー）</a></li>
           <li><a href="#logout">ログアウト</a></li>
         -->
        </ul> <!-- end #nav -->

     </nav> <!-- end #nav-wrap -->

  </header> <!-- Header End -->




<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
